<!DOCTYPE html> <!-- dobro e -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Bootstrap E-commerce Templates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!--[if ie]>
    <meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
    <!-- bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="themes/css/bootstrappage.css" rel="stylesheet"/>

    <!-- global styles -->
    <link href="themes/css/flexslider.css" rel="stylesheet"/>
    <link href="themes/css/main.css" rel="stylesheet"/>

    <!-- scripts -->
    <script src="themes/js/jquery-1.7.2.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="themes/js/superfish.js"></script>
    <script src="themes/js/jquery.scrolltotop.js"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="themes/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="top-bar" class="container">
    <div class="row">
        <div class="span4">

        </div>
        <div class="span8">
            <div class="account pull-right">
                <ul class="user-menu">

                    <li sec:authorize="isAuthenticated()">
                        <a href="#">
                            <th:block th:if="${#request.getRemoteUser() != null}"
                                      th:text="${#request.getRemoteUser()}"></th:block>
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="/index">Enter live chat</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="/manufacturers">Manufacturers</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="/categories">Categories</a>
                    </li>
                    <li><a href="/products">Products</a></li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="/cart">Cart</a>
                    </li>
                    <li><a href="/contact">Contact</a></li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="/logout">Logout</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()">
                        <a href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="wrapper" class="container">
    <section class="navbar main-menu">
        <div class="navbar-inner main-menu">
            <a href="/home" class="logo pull-left"><img src="themes/images/logo.png" class="site_logo" alt=""></a>

        </div>
    </section>
    <section class="header_text sub">
        <img class="pageBanner" src="themes/images/pageBanner.png" alt="New products">
        <h4><span>Shopping Cart</span></h4>
    </section>
    <section class="main-content">
        <div th:if="${hasError}">
            <h5 class="text-center text-danger" th:text="${error}"></h5>
        </div>
        <div class="row">


            <div class="span9">
                <div class="col-12" th:if="${shoppingCart.getProducts().size() > 0}">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Product</th>
                                <th scope="col">Available</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">Manufacturer</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product : ${shoppingCart.getProducts()}">
                                <td><img th:src="${product.getImageBase64()}"/></td>
                                <td th:text="${product.getName()}"></td>
                                <td th:text="${product.getQuantity() > 0 } ? 'In stock' : 'Out of stock'"></td>
                                <td th:text="${product.getQuantity()}"></td>
                                <td th:text="${product.getPrice()}"></td>
                                <td th:text="${product.getManufacturer() != null} ? ${product.getManufacturer().getName()} : 'No Manufacturer'"></td>
                                <td>
                                    <form th:action="@{'/cart/{id}/remove-product' (id=${product.getId()})}"
                                          th:method="POST"
                                          sec:authorize="isAuthenticated()">
                                        <button type="submit"
                                                class="btn btn-sm btn-primary cart-product">
                                            <i class="fa fa-trash">Remove</i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>


                <form action="/cart"
                      method="post">
                    <div>
                        <h4 >Total:</h4>
                        <h4 class="text-primary" th:text="${amount/100} + ' ' + ${currency}">

                        </h4>
                    </div>
                    <br>

                    <input type="hidden" th:value="${amount}" name="amount"/>
                    <input type="hidden" th:value="${currency}" name="currency"/>
                    <div>
                        <h4>Please enter your Phone Number and Address</h4>
                        <textarea style="width:700px; height: 80px;" name="description" id="descriptionarea"></textarea>
                    </div>

                    <div>
                        <script
                                src='https://checkout.stripe.com/checkout.js'
                                class='stripe-button'
                                th:attr='data-key=${stripePublicKey},
         				data-amount=${amount},
						 data-currency=${currency}'
                                data-name='EMT'
                                data-description='EMT checkout'
                                data-locale='auto'
                                data-zip-code='false'>
                        </script>

                    </div>
                </form>
            </div>


            <div class="span3 col">
                <div class="block">
                    <h4 class="title"><strong>Best</strong> Seller</h4>
                    <ul class="small-product" th:each="product : ${productss}"
                        th:if="${product.getQuantity() < 6}">
                        <li>
                            <a th:href="@{'/products/details/{id}' (id=${product.getId()})}"><img
                                    th:src="${product.getImageBase64()}"/></a>
                            <a th:text="${product.getName()}"
                               th:href="@{'/products/details/{id}' (id=${product.getId()})}"></a>
                        </li>
                    </ul>
                </div>
                <div class="block">
                    <h4 class="title">
                        <span class="pull-left"><span class="text">Randomize</span></span>
                        <span class="pull-right">
													<a class="left button" href="#myCarousel" data-slide="prev"></a><a
                                class="right button" href="#myCarousel" data-slide="next"></a>
												</span>
                    </h4>
                    <div id="myCarousel" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="active item">
                                <ul class="thumbnails listing-products">
                                    <li class="span3" th:each="productt : ${productss.subList(0, 2)}">
                                        <div class="product-box">
                                            <span class="sale_tag"></span>
                                            <a th:href="@{'/products/details/{id}' (id=${productt.getId()})}"><img
                                                    th:src="${productt.getImageBase64()}"/></a>
                                            <a href="#" th:text="${productt.getName()}" class="title"></a><br/>
                                            <p th:text="${productt.getPrice()}" class="price"></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="item">
                                <ul class="thumbnails listing-products">
                                    <li class="span3" th:each="productt : ${productss.subList(6, 8)}">
                                        <div class="product-box">
                                            <span class="sale_tag"></span>
                                            <a th:href="@{'/products/details/{id}' (id=${productt.getId()})}"><img
                                                    th:src="${productt.getImageBase64()}"/></a>
                                            <a href="#" th:text="${productt.getName()}" class="title"></a><br/>
                                            <p th:text="${productt.getPrice()}" class="price"></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="item">
                                <ul class="thumbnails listing-products">
                                    <li class="span3" th:each="productt : ${productss.subList(3, 5)}">
                                        <div class="product-box">
                                            <span class="sale_tag"></span>
                                            <a th:href="@{'/products/details/{id}' (id=${productt.getId()})}"><img
                                                    th:src="${productt.getImageBase64()}"/></a>
                                            <a href="#" th:text="${productt.getName()}" class="title"></a><br/>
                                            <p th:text="${productt.getPrice()}" class="price"></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="footer-bar">
        <div class="row">
            <div class="span3">
                <h4>Navigation</h4>
                <ul class="nav">
                    <li><a href="./index.html">Homepage</a></li>
                    <li><a href="./about.html">About Us</a></li>
                    <li><a href="./contact.html">Contac Us</a></li>
                    <li><a href="./cart.html">Your Cart</a></li>
                    <li><a href="./register.html">Login</a></li>
                </ul>
            </div>
            <div class="span4">
                <h4>My Account</h4>
                <ul class="nav">
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Order History</a></li>
                    <li><a href="#">Wish List</a></li>
                    <li><a href="#">Newsletter</a></li>
                </ul>
            </div>
            <div class="span5">
                <p class="logo"><img src="themes/images/logo.png" class="site_logo" alt=""></p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the Lorem Ipsum has been
                    the industry's standard dummy text ever since the you.</p>
                <br/>
                <span class="social_icons">
							<a class="facebook" href="#">Facebook</a>
							<a class="twitter" href="#">Twitter</a>
							<a class="skype" href="#">Skype</a>
							<a class="vimeo" href="#">Vimeo</a>
						</span>
            </div>
        </div>
    </section>
    <section id="copyright">
        <span>Copyright 2013 bootstrappage template  All right reserved.</span>
    </section>
</div>
<script src="themes/js/common.js"></script>
<script>
    $(document).ready(function () {
        $('#checkout').click(function (e) {
            document.location.href = "checkout.html";
        })
    });
</script>
</body>
</html>
